name: ci
on:
  push:
    branches:
      - main
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: committer cache
        uses: actions/cache@v4
        with:
          path: .cache
          key: committer-cache

      - run: pip install -r docs/requirements.txt

      - name: build
        env:
          MKDOCS_GIT_COMMITTERS_APIKEY: ${{ secrets.GIT_COMMITER_TOKEM }}
        run: |
          git config --global user.name "ci-bot"
          git config --global user.email "ci-bot@example.com"
          git fetch origin gh-pages
          mike deploy --push -u v1.14.x dev -t "v1.14.x (dev)"
          mike list
